<div class="row">
  <div class="col-sm-6 col-xl-3">
    <div class="card mb-4">
      <div class="card-body">
        <div class="text-muted small">Total Nodes</div>
        <div class="text-large"><%= @nodes.count %></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="card mb-4">
      <div class="card-body">
        <div class="text-muted small">Most Recent Node</div>
        <div class="text-large"><%= @nodes.last.node %></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="card mb-4">
      <div class="card-body">
        <div class="text-muted small">Total Headends </div>
        <div class="text-large"><%= @headends.count %></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="card mb-4">
      <div class="card-body">
        <div class="text-muted small">Total Users</div>
        <div class="text-large"><%= @user.count %></div>
      </div>
    </div>
  </div>
</div>
