<div class="row">
  <div class="col-sm-6 col-xl-3">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-body text-info">
        <div class="text-muted medium">Total Nodes</div>
        <div class="text-large"><h4><%= @nodes.count %></h4></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-body text-info">
        <div class="text-muted medium">Most Recent Node</div>
        <div class="text-large"><h4><%= @nodes.last.node %></h4></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-body text-info">
        <div class="text-muted medium">Total Headends </div>
        <div class="text-large"><h4><%= @headends.count %></div></h4>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-body text-info">
        <div class="text-muted medium">Total Users</div>
        <div class="text-large"><h4><%= @user.count %></div></h4>
      </div>
    </div>
  </div>
</div>
