<p id="notice"><%= notice %></p>

<p>
  <strong>Headend:</strong>
</p>

<table>
  <thead>
    <tr>
      <th>Node</th>
      <th>Tx Location</th>
      <th>Rx Location</th>
      <th>Created By</th>
      <th>Date Created</th>
      <th>Last Updated</th>
      <th colspan="3"></th>
    </tr>
    <%= render 'nodes/node', obj: @headend_nodes %>
  </thead>
</table>
